*
{
    /*font-size: 14px;*/
    /*font-family: sans-serif;*/
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

form.registro div.espaciado form.registro2 div.espaciado {
    margin-top: 8%;
}

form.registro
{
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #DDDDDD;
    margin: 0 auto;
    padding: 20px;
    width: 550px;
    box-shadow:0px 0px 20px black;
    border-radius:10px;
    position:relative;
    top:30px;
}

form.registro div
{
    margin-bottom: 15px;
    overflow: hidden;
}

form.registro div label
{
    display: block;
    float: left;
    line-height: 25px;
}

form.registro div input[type="text"], form.registro div input[type="password"], form.registro div input[type="email"], 
form.registro div input[type="number"], form.registro div input[type="date"], form.registro div select, form.registro div textarea {
    border: 1px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 250px;
}

#nit {
    width: 210px;
}

#digito {
    width: 30px;
}

form.registro div radio, form.registro div grupoRH {
    border: 0px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 250px;
}

form.registro div img {
    border: 1px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 80px;
    height: 100px;
}

form.registro div input[type="file"] {
    border: 1px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 350px;
}

.input
{
    border: 0px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 250px;
}

/*form.registro div input[type="submit"]
{
    background: none repeat scroll 0 0 #DEDEDE;
    border: 1px solid #C6C6C6;
    /*float: right;*
    font-weight: bold;
    padding: 4px 20px;
}*/

.error
{
    color: red;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.button-link
{
    /*padding: 10px 15px;
    background: #4479BA;
    color: #FFF;*/
    background: none repeat scroll 0 0 #DEDEDE;
    border: 1px solid #C6C6C6;
    /*float: right;*/
    font-weight: bold;
    padding: 4px 20px;
    text-decoration: none;
}

.button-link:visited, .button-link:link
{
    color: black;
}

.Button2
{
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #424242;/*#D84530;*/
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 2px white inset;
    color: white;
    font-size: 13px;
    height: 35px;
    margin: 4px;
    min-width: 100px;
    padding: 4px;
    text-decoration: none;
    outline: none;
}

.Button2:hover, .Button2:focus
{
    background-color: #409FBA;
    cursor: pointer;
}

.asociados {
    width:100%;
}

.asociados tr th {
    background-color: #0B3861;
    color:#ddd;
    font-size: 13px;
}

.asociados tr:nth-child(odd) {
    background-color: #81DAF5;
    color:#777;
}

.asociados tr:nth-child(even) {
    background-color: #81BEF7;
    color:#FFF;
}

.asociados td input[type="text"], .asociados td input[type="number"] {
    font-family: Tahoma, Verdana, Arial;
    font-size: 12px;
    border: none; 
    background-color: #EFF2FB;
}

.asociados .vacio {
    background-color: #F3F3F3;
    color:#F3F3F3;
}

.Button {
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #086A87;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 2px white inset;
    color: white;
    font-size: 10px;
    height: 15px;
    margin: 4px;
    min-width: 100px;
    padding: 0px;
    text-decoration: none;
    outline: none;
}

.Button:hover {
    background-color: #0174DF;
    cursor: pointer;
}

form.registro2
{
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #DDDDDD;
    margin: 0 auto;
    padding: 20px;
    width: 550px;
    box-shadow:0px 0px 20px black;
    border-radius:10px;
    position:relative;
    top:30px;
    width: 800px;
}

form.registro2 div
{
    margin-bottom: 15px;
    overflow: hidden;
}

form.registro2 div label
{
    display: block;
    float: left;
    line-height: 25px;
}

form.registro2 div input[type="text"], form.registro2 div input[type="password"], form.registro2 div input[type="email"], 
form.registro2 div input[type="number"], form.registro2 div input[type="date"], form.registro2 div select, form.registro2 div textarea {
    border: 1px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 400px;
}

form.registro2 div radio, form.registro2 div grupoRH {
    border: 0px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 400px;
}

form.registro2 div img {
    border: 1px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 80px;
    height: 100px;
}

form.registro2 div input[type="file"] {
    border: 1px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 350px;
}

#pazSalvoMostrar, #ultimoBoletinMostrar, #certificadoIngresosMostrar {
    float: right;
    padding: 4px;
    width: 250px;
}

form.registro div direccion {
    border: 0px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 250px;
}

form.registro div direccion #tipoDireccion, form.registro div direccion #tipoDireccionRuta {
    width: 100px;
    float: left;
}

form.registro div direccion #numDireccion, form.registro div direccion #numDireccion2, 
form.registro div direccion #numDireccionRuta, form.registro div direccion #numDireccion2Ruta, 
form.registro div direccion #intDireccion, form.registro div direccion #intDireccionRuta {
    width: 50px;
    float: left;
}

form.registro div direccion #numTipoDireccion, 
form.registro div direccion #az1, form.registro div direccion #az2, form.registro div direccion #az3, 
form.registro div direccion #se1, form.registro div direccion #se2, 
form.registro div direccion #numTipoDireccionRuta, 
form.registro div direccion #az1Ruta, form.registro div direccion #az2Ruta, form.registro div direccion #az3Ruta, 
form.registro div direccion #se1Ruta, form.registro div direccion #se2Ruta {
    width: 50px;
    float: left;
}

form.registro div grupoRH #grupoSanguineo {
    width: 60px;
    float: left;
}

form.registro div grupoRH #rh {
    width: 100px;
    float: left;
}

form.registro2 div direccion {
    border: 0px solid #DCDCDC;
    float: right;
    padding: 4px;
    width: 400px;
}

form.registro2 div direccion #tipoDireccion, form.registro2 div direccion #tipoDireccionRuta, 
form.registro2 div direccion #tipoDireccionMadre, form.registro2 div direccion #tipoDireccionPadre, 
form.registro2 div direccion #tipoDireccionAcudiente1, form.registro2 div direccion #tipoDireccionAcudiente2 {
    width: 100px;
    float: left;
}

form.registro2 div direccion #numDireccion, form.registro2 div direccion #numDireccion2, 
form.registro2 div direccion #numDireccionRuta, form.registro2 div direccion #numDireccion2Ruta, 
form.registro2 div direccion #intDireccion, form.registro2 div direccion #intDireccionRuta, 
form.registro2 div direccion #numDireccionMadre, form.registro2 div direccion #numDireccion2Madre, form.registro2 div direccion #intDireccionMadre,
form.registro2 div direccion #numDireccionPadre, form.registro2 div direccion #numDireccion2Padre, form.registro2 div direccion #intDireccionPadre, 
form.registro2 div direccion #numDireccionAcudiente1, form.registro2 div direccion #numDireccion2Acudiente1, form.registro2 div direccion #intDireccionAcudiente1,
form.registro2 div direccion #numDireccionAcudiente2, form.registro2 div direccion #numDireccion2Acudiente2, form.registro2 div direccion #intDireccionAcudiente2 {
    width: 50px;
    float: left;
}

form.registro2 div direccion #numTipoDireccion, 
form.registro2 div direccion #numTipoDireccionMadre, form.registro2 div direccion #numTipoDireccionPadre, 
form.registro2 div direccion #numTipoDireccionAcudiente1, form.registro2 div direccion #numTipoDireccionAcudiente2, 
form.registro2 div direccion #az1, form.registro2 div direccion #az2, form.registro2 div direccion #az3, 
form.registro2 div direccion #se1, form.registro2 div direccion #se2, 
form.registro2 div direccion #numTipoDireccionRuta, 
form.registro2 div direccion #az1Ruta, form.registro2 div direccion #az2Ruta, form.registro2 div direccion #az3Ruta, 
form.registro2 div direccion #se1Ruta, form.registro2 div direccion #se2Ruta, 
form.registro2 div direccion #az1Madre, form.registro2 div direccion #az2Madre, form.registro2 div direccion #az3Madre, 
form.registro2 div direccion #se1Madre, form.registro2 div direccion #se2Madre, 
form.registro2 div direccion #az1Padre, form.registro2 div direccion #az2Padre, form.registro2 div direccion #az3Padre, 
form.registro2 div direccion #se1Padre, form.registro2 div direccion #se2Padre, 
form.registro2 div direccion #az1Acudiente1, form.registro2 div direccion #az2Acudiente1, form.registro2 div direccion #az3Acudiente1, 
form.registro2 div direccion #se1Acudiente1, form.registro2 div direccion #se2Acudiente1, 
form.registro2 div direccion #az1Acudiente2, form.registro2 div direccion #az2Acudiente2, form.registro2 div direccion #az3Acudiente2, 
form.registro2 div direccion #se1Acudiente2, form.registro2 div direccion #se2Acudiente2 {
    width: 50px;
    float: left;
}

form.registro2 div grupoRH #grupoSanguineo {
    width: 60px;
    float: left;
}

form.registro2 div grupoRH #rh {
    width: 100px;
    float: left;
}